<!--=====================================
Home Features
======================================-->  

<div class="ps-site-features">

    <div class="container">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-rocket"></i></div>
                <div class="ps-block__right">
                    <h4>Envio gratis</h4>
                    <p>Para ordenes mayores a $X</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync"></i></div>
                <div class="ps-block__right">
                    <h4>Nuevo stock</h4>
                    <p>Siempre pensando en el consumidor</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                <div class="ps-block__right">
                    <h4>Seguridad en los pagos</h4>
                    <p>100% seguridad en transacciones</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                <div class="ps-block__right">
                    <h4>Soporte 24/7</h4>
                    <p>Sopote especializado</p>
                </div>
            </div>

        </div>

    </div>

</div><!-- End Home Features-->
